In [1]:
%pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.11.6-py3-none-any.whl.metadata (42 kB)
Collecting pdfminer.six==20250327 (from pdfplumber)
  Downloading pdfminer_six-20250327-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: Pillow>=9.1 in c:\users\windows\appdata\local\programs\python\python313\lib\site-packages (from pdfplumber) (11.1.0)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.30.1-py3-none-win_amd64.whl.metadata (48 kB)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\windows\appdata\local\programs\python\python313\lib\site-packages (from pdfminer.six==20250327->pdfplumber) (3.4.1)
Collecting cryptography>=36.0.0 (from pdfminer.six==20250327->pdfplumber)
  Downloading cryptography-44.0.3-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\windows\appdata\local\programs\python\python313\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in c:\users\windows\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (2.22)
Downloading pdfplumber-0.11.6-py3-none-any.whl (60 kB)
Downloading pdfminer_six-20250327-py3-none-any.whl (5.6 MB)
   ---------------------------------------- 0.0/5.6 MB ? eta -:--:--
   --- ------------------------------------ 0.5/5.6 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 3.4/5.6 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 5.6/5.6 MB 11.6 MB/s eta 0:00:00
Downloading pypdfium2-4.30.1-py3-none-win_amd64.whl (3.0 MB)
   ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
   --------------------- ------------------ 1.6/3.0 MB 6.7 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 11.4 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 11.4 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 11.4 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 11.4 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 3.0/3.0 MB 1.9 MB/s eta 0:00:00
Downloading cryptography-44.0.3-cp39-abi3-win_amd64.whl (3.2 MB)
   ---------------------------------------- 0.0/3.2 MB ? eta -:--:--
   ----------------------------------- ---- 2.9/3.2 MB 15.6 MB/s eta 0:00:01
   ---------------------------------------- 3.2/3.2 MB 12.3 MB/s eta 0:00:00
Installing collected packages: pypdfium2, cryptography, pdfminer.six, pdfplumber
Successfully installed cryptography-44.0.3 pdfminer.six-20250327 pdfplumber-0.11.6 pypdfium2-4.30.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pdfplumber

# Path to your sample UPI statement PDF
pdf_path = "data/Paytm_UPI_Statement_06_May'23_-_07_May'25.pdf"  # Replace with your PDF file name

# Open and read PDF
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        text = page.extract_text()
        print(text)  # Print page content
        print("-" * 100)

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Pragadeesh S
8903558066, null
UPI Statement for Total Money Paid Total Money Received
6 MAY'23 - 7 MAY'25 - Rs.6,393.71 + Rs.4,033.65
24 Payments made 19 Payments received
Note:
Self transfer payments are not included in the total money paid and money received calculations
Payments that you might have hidden on payment history page will not be included in this statement
Accounts Payment made Payment received
Rs.6,393.71 Rs.3,972.65
Indian Overseas Bank - 0423
(24 Payments) (18 Payments)
Rs.0 Rs.61
INDIAN OVERSEAS BANK - 0423
(0 Payment) (1 Payment)
Passbook Payments History
All UPI payments done by you on Paytm App are reflected in this statement
Date &
Transaction Details Your Account Amount
Time
01 Apr Paid to Reliance Retail Ltd Indian - Rs.19
9:59 AM UPI Ref No: 509103880652 Overseas
Tag: # Bill Payments Bank - 0423
16 Feb Paid to Amazon Pay Balance Indian - Rs.10
2:31 PM UPI Ref No: 504780474674 Overseas
Note: You are paying for an Amazon order
Bank - 0423
07 Feb Paytm Merchant Indian - Rs.21
11:37 AM UPI Ref No: 503866948132 Overseas
Order ID: 24776120455
Bank - 0423
Page 1 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------
Date &
Transaction Details Your Account Amount
Time
06 Feb Paid to Paytm Gold Indian - Rs.25
12:25 AM UPI Ref No: 503751969793 Overseas
Bank - 0423
05 Feb Received from One Ninety Seven Indian + Rs.2
4:58 PM UPI Ref No: 503640376381 Overseas
Bank - 0423
05 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.30
4:58 PM UPI Ref No: 503646462616 Overseas
Bank - 0423
05 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.3
2:37 PM UPI Ref No: 503644804963 Overseas
Bank - 0423
05 Feb Received from One Ninety Seven Indian + Rs.3
2:34 PM UPI Ref No: 503639565951 Overseas
Bank - 0423
05 Feb Paid to Tictok Skill Games Pvt Ltd Indian - Rs.10
10:10 AM UPI Ref No: 503641636453 Overseas
Note: UPI Intent
Bank - 0423
04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.5
3:03 PM UPI Ref No: 503532950113 Overseas
Bank - 0423
04 Feb Received from One Ninety Seven Indian + Rs.2
3:01 PM UPI Ref No: 503534038679 Overseas
Bank - 0423
04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.270
2:59 PM UPI Ref No: 503532911539 Overseas
Bank - 0423
04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.250
10:03 AM UPI Ref No: 503529255955 Overseas
Bank - 0423
Page 2 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------
Date &
Transaction Details Your Account Amount
Time
06 Jan Received from Sumathy S INDIAN + Rs.61
7:49 AM UPI Ref No: 500693594508 OVERSEAS
BANK - 0423
14 Nov Money sent to Sumathy S Indian - Rs.800
12:42 PM UPI Ref No: 468516390086 Overseas
Bank - 0423
14 Nov Received from Cynthia Monica V Indian + Rs.800
10:57 AM UPI Ref No: 431942940472 Overseas
Bank - 0423
14 Nov Received from Cynthia Monica V Indian + Rs.1
10:57 AM UPI Ref No: 431989113999 Overseas
Bank - 0423
10 Nov Money sent to Cynthia Monica V Indian - Rs.800
9:10 AM UPI Ref No: 431529259949 Overseas
Bank - 0423
10 Nov Received from Sumathy S Indian + Rs.800
9:08 AM UPI Ref No: 468116259040 Overseas
Bank - 0423
26 Sep Received from Mr SRINIVASAN P Indian + Rs.500
9:11 PM UPI Ref No: 427070498462 Overseas
Bank - 0423
27 Aug Received from Cashfree Payments Indian + Rs.10.65
9:47 PM UPI Ref No: 424052062475 Overseas
Bank - 0423
15 Aug Received from Mr SRINIVASAN P Indian + Rs.1
6:41 PM UPI Ref No: 422830754444 Overseas
Bank - 0423
12 Aug Money sent to Sumathy S Indian - Rs.5.54
9:53 AM UPI Ref No: 422579020590 Overseas
Bank - 0423
Page 3 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------
Date &
Transaction Details Your Account Amount
Time
01 Aug Received from Sumathy S Indian + Rs.1
1:42 PM UPI Ref No: 458014102616 Overseas
Bank - 0423
01 Aug Received from Sumathy S Indian + Rs.1
1:40 PM UPI Ref No: 458080240944 Overseas
Bank - 0423
01 Aug Received from Sumathy S Indian + Rs.500
1:39 PM UPI Ref No: 421413192494 Overseas
Bank - 0423
01 Aug Money sent to Sumathy S Indian - Rs.500
1:35 PM UPI Ref No: 421430626576 Overseas
Bank - 0423
23 Jul Paid to Moi Technology Private Limited Indian - Rs.194.17
4:16 PM UPI Ref No: 420554841596 Overseas
Note: Upi Transaction
Bank - 0423
15 Jul Paid to Moi Technology Private Limited Indian - Rs.20
5:31 PM UPI Ref No: 419772670093 Overseas
Note: Upi Transaction
Bank - 0423
14 Jul Money sent to Sumathy S Indian - Rs.150
5:24 PM UPI Ref No: 492821915565 Overseas
Bank - 0423
14 Jul Money sent to Swetha E Indian - Rs.30
5:22 PM UPI Ref No: 492821846179 Overseas
Bank - 0423
14 Jul Received from Sumathy S Indian + Rs.100
5:06 PM UPI Ref No: 492821299558 Overseas
Bank - 0423
Page 4 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Date &
Transaction Details Your Account Amount
Time
14 Jul Received from Sumathy S Indian + Rs.50
4:55 PM UPI Ref No: 456220949843 Overseas
Bank - 0423
07 Jul Money sent to Sumathy S Indian - Rs.150
1:10 PM UPI Ref No: 455518968119 Overseas
Bank - 0423
07 Jul Received from Sumathy S Indian + Rs.200
11:43 AM UPI Ref No: 418915904394 Overseas
Bank - 0423
17 Jun Paid to Government College of Technology Indian - Rs.600
9:55 AM UPI Ref No: 416909182622 Overseas
Note: UPI Collect request for 356744781
Bank - 0423
18 May Received from Sumathy S Indian + Rs.500
1:16 PM UPI Ref No: 450510194547 Overseas
Bank - 0423
02 May Money sent to Sumathy S Indian - Rs.1
12:12 PM UPI Ref No: 448919364736 Overseas
Bank - 0423
02 May Money sent to Jancy Indian - Rs.500
10:29 AM UPI Ref No: 412315394365 Overseas
Bank - 0423
02 May Received from Jancy . Indian + Rs.500
10:20 AM UPI Ref No: 412303708600 Overseas
Bank - 0423
07 Apr Paid to Guvi Geek Network Private Limited Indian - Rs.1,999
7:06 PM UPI Ref No: 446437684733 Overseas
Note: PayviaRazorpay
Bank - 0423
Page 5 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------
Date &
Transaction Details Your Account Amount
Time
07 Apr Refund from Mebigo Labs Private Limited Indian + Rs.1
12:23 AM UPI Ref No: 446408364641 Overseas
Note: express
Bank - 0423
06 Apr Automatic payment of ₹99 setup for Mebigo Labs Indian - Rs.1
11:58 PM Private Limited Overseas
UPI Ref No: 409748033729
Bank - 0423
Note: Subscription for MEBIGOLABSPR
Page 6 of 6
For any queries,
Contact Us
----------------------------------------------------------------------------------------------------

In [4]:
import pdfplumber
import pandas as pd

def extract_transactions_from_pdf(pdf_path):
    transactions = []

    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            text = page.extract_text()
            if text:
                lines = text.split('\n')
                for line in lines:
                    if any(keyword in line for keyword in ["Paid to", "Received from", "Money sent to", "Paytm Merchant"]):
                        transactions.append(line.strip())

    return transactions

if __name__ == "__main__":
    pdf_file = "data/Paytm_UPI_Statement_06_May'23_-_07_May'25.pdf"  # Put your actual filename here
    extracted = extract_transactions_from_pdf(pdf_file)

    # Save or print result
    for i, line in enumerate(extracted[:20], 1):  # Print first 20 lines
        print(f"{i}: {line}")

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

1: 01 Apr Paid to Reliance Retail Ltd Indian - Rs.19
2: 16 Feb Paid to Amazon Pay Balance Indian - Rs.10
3: 07 Feb Paytm Merchant Indian - Rs.21
4: 06 Feb Paid to Paytm Gold Indian - Rs.25
5: 05 Feb Received from One Ninety Seven Indian + Rs.2
6: 05 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.30
7: 05 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.3
8: 05 Feb Received from One Ninety Seven Indian + Rs.3
9: 05 Feb Paid to Tictok Skill Games Pvt Ltd Indian - Rs.10
10: 04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.5
11: 04 Feb Received from One Ninety Seven Indian + Rs.2
12: 04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.270
13: 04 Feb Money sent to Pragadeesh Srinivasan Indian - Rs.250
14: 06 Jan Received from Sumathy S INDIAN + Rs.61
15: 14 Nov Money sent to Sumathy S Indian - Rs.800
16: 14 Nov Received from Cynthia Monica V Indian + Rs.800
17: 14 Nov Received from Cynthia Monica V Indian + Rs.1
18: 10 Nov Money sent to Cynthia Monica V Indian - Rs.800
19: 10 Nov Received from Sumathy S Indian + Rs.800
20: 26 Sep Received from Mr SRINIVASAN P Indian + Rs.500

In [5]:
import pdfplumber
import pandas as pd
import re

def extract_structured_transactions(pdf_path):
    transactions = []
    current = {}

    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            text = page.extract_text()
            if not text:
                continue

            lines = text.split('\n')
            for i, line in enumerate(lines):
                # 1. Detect transaction start line (starts with date)
                if re.match(r'\d{2} \w{3} ', line):
                    if current:
                        transactions.append(current)
                        current = {}

                    # Extract date and transaction description + amount
                    match = re.match(r"(\d{2} \w{3}) (.+) Indian ([+-]) Rs\.?([\d,]+(?:\.\d{1,2})?)", line)
                    if match:
                        current["Date"] = match.group(1)
                        current["Type_Desc"] = match.group(2).strip()
                        current["Direction"] = "Credit" if match.group(3) == '+' else "Debit"
                        current["Amount"] = float(match.group(4).replace(",", ""))
                
                elif "UPI Ref No" in line:
                    current["UPI Ref No"] = line.split(":")[-1].strip()
                
                elif re.search(r"\d{1,2}:\d{2} (AM|PM)", line):
                    time_match = re.search(r"\d{1,2}:\d{2} (AM|PM)", line)
                    if time_match:
                        current["Time"] = time_match.group()

                elif "Bank - " in line:
                    bank_match = re.search(r"Bank - (\d+)", line)
                    if bank_match:
                        current["Bank"] = bank_match.group(1)

                elif "Note:" in line or "Tag:" in line:
                    current["Note"] = line.replace("Note:", "").replace("Tag:", "").strip()

        # Append last one
        if current:
            transactions.append(current)

    return pd.DataFrame(transactions)

if __name__ == "__main__":
    pdf_file = "data/Paytm_UPI_Statement_06_May'23_-_07_May'25.pdf"
    df = extract_structured_transactions(pdf_file)
    
    # Save to CSV
    df.to_csv("data/structured_upi_data.csv", index=False)
    
    # Print preview
    print(df.head(10))

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

                                 Note  Bank    Date  \
0                                      0423     NaN
1                                 NaN  0423  01 Apr
2  You are paying for an Amazon order  0423  16 Feb
3                                 NaN  0423  07 Feb
4                                 NaN  0423  06 Feb
5                                 NaN  0423  05 Feb
6                                 NaN  0423  05 Feb
7                                 NaN  0423  05 Feb
8                                 NaN  0423  05 Feb
9                          UPI Intent  0423  05 Feb

                             Type_Desc Direction  Amount  \
0                                  NaN       NaN     NaN
1          Paid to Reliance Retail Ltd     Debit    19.0
2           Paid to Amazon Pay Balance     Debit    10.0
3                       Paytm Merchant     Debit    21.0
4                   Paid to Paytm Gold     Debit    25.0
5       Received from One Ninety Seven    Credit     2.0
6  Money sent to Pragadeesh Srinivasan     Debit    30.0
7  Money sent to Pragadeesh Srinivasan     Debit     3.0
8       Received from One Ninety Seven    Credit     3.0
9   Paid to Tictok Skill Games Pvt Ltd     Debit    10.0

              UPI Ref No Time
0                    NaN  NaN
1  509103880652 Overseas  NaN
2  504780474674 Overseas  NaN
3  503866948132 Overseas  NaN
4  503751969793 Overseas  NaN
5  503640376381 Overseas  NaN
6  503646462616 Overseas  NaN
7  503644804963 Overseas  NaN
8  503639565951 Overseas  NaN
9  503641636453 Overseas  NaN

## Load and Clean the CSV Data

In [16]:
# Load your CSV
df = pd.read_csv("data/structured_upi_data.csv")

# Drop row with all NaN except Bank (first row)
df = df.dropna(how='all', subset=['Date', 'Type_Desc', 'Amount'])

# Forward fill Note column to preserve context comments
df['Note'] = df['Note'].fillna(method='ffill')

# Fix UPI Ref No: remove "Overseas" and strip whitespace
df['UPI Ref No'] = df['UPI Ref No'].astype(str).str.replace('Overseas', '', regex=False).str.strip()

# Parse 'Date' assuming year 2024 (or use actual year if you have it)
df['Date'] = pd.to_datetime(df['Date'] + " 2024", errors='coerce', format="%d %b %Y")

# Fix Amount type
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Drop unused Time column if mostly empty
df.drop(columns=['Time'], inplace=True)

# Rename Bank column to fix if needed
df.rename(columns={'Bank': 'Bank_Code'}, inplace=True)

# Reset index
df = df.reset_index(drop=True)

# Show cleaned head
print(df.head(10))

                                 Note  Bank_Code       Date  \
0                                 NaN      423.0 2024-04-01
1  You are paying for an Amazon order      423.0 2024-02-16
2  You are paying for an Amazon order      423.0 2024-02-07
3  You are paying for an Amazon order      423.0 2024-02-06
4  You are paying for an Amazon order      423.0 2024-02-05
5  You are paying for an Amazon order      423.0 2024-02-05
6  You are paying for an Amazon order      423.0 2024-02-05
7  You are paying for an Amazon order      423.0 2024-02-05
8                          UPI Intent      423.0 2024-02-05
9                          UPI Intent      423.0 2024-02-04

                             Type_Desc Direction  Amount    UPI Ref No
0          Paid to Reliance Retail Ltd     Debit    19.0  509103880652
1           Paid to Amazon Pay Balance     Debit    10.0  504780474674
2                       Paytm Merchant     Debit    21.0  503866948132
3                   Paid to Paytm Gold     Debit    25.0  503751969793
4       Received from One Ninety Seven    Credit     2.0  503640376381
5  Money sent to Pragadeesh Srinivasan     Debit    30.0  503646462616
6  Money sent to Pragadeesh Srinivasan     Debit     3.0  503644804963
7       Received from One Ninety Seven    Credit     3.0  503639565951
8   Paid to Tictok Skill Games Pvt Ltd     Debit    10.0  503641636453
9  Money sent to Pragadeesh Srinivasan     Debit     5.0  503532950113

C:\Users\Windows\AppData\Local\Temp\ipykernel_20880\1997050867.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Note'] = df['Note'].fillna(method='ffill')

In [17]:
df

,Note,Bank_Code,Date,Type_Desc,Direction,Amount,UPI Ref No
0,NaN,423.0,2024-04-01,Paid to Reliance Retail Ltd,Debit,19.00,509103880652
1,You are paying for an Amazon order,423.0,2024-02-16,Paid to Amazon Pay Balance,Debit,10.00,504780474674
2,You are paying for an Amazon order,423.0,2024-02-07,Paytm Merchant,Debit,21.00,503866948132
3,You are paying for an Amazon order,423.0,2024-02-06,Paid to Paytm Gold,Debit,25.00,503751969793
4,You are paying for an Amazon order,423.0,2024-02-05,Received from One Ninety Seven,Credit,2.00,503640376381
5,You are paying for an Amazon order,423.0,2024-02-05,Money sent to Pragadeesh Srinivasan,Debit,30.00,503646462616
6,You are paying for an Amazon order,423.0,2024-02-05,Money sent to Pragadeesh Srinivasan,Debit,3.00,503644804963
7,You are paying for an Amazon order,423.0,2024-02-05,Received from One Ninety Seven,Credit,3.00,503639565951
8,UPI Intent,423.0,2024-02-05,Paid to Tictok Skill Games Pvt Ltd,Debit,10.00,503641636453
9,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,5.00,503532950113
10,UPI Intent,423.0,2024-02-04,Received from One Ninety Seven,Credit,2.00,503534038679
11,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,270.00,503532911539
12,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,250.00,503529255955
13,UPI Intent,423.0,2024-11-14,Money sent to Sumathy S,Debit,800.00,468516390086
14,UPI Intent,423.0,2024-11-14,Received from Cynthia Monica V,Credit,800.00,431942940472
15,UPI Intent,423.0,2024-11-14,Received from Cynthia Monica V,Credit,1.00,431989113999
16,UPI Intent,423.0,2024-11-10,Money sent to Cynthia Monica V,Debit,800.00,431529259949
17,UPI Intent,423.0,2024-11-10,Received from Sumathy S,Credit,800.00,468116259040
18,UPI Intent,423.0,2024-09-26,Received from Mr SRINIVASAN P,Credit,500.00,427070498462
19,UPI Intent,423.0,2024-08-27,Received from Cashfree Payments,Credit,10.65,424052062475
20,UPI Intent,423.0,2024-08-15,Received from Mr SRINIVASAN P,Credit,1.00,422830754444
21,UPI Intent,423.0,2024-08-12,Money sent to Sumathy S,Debit,5.54,422579020590
22,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,1.00,458014102616
23,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,1.00,458080240944
24,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,500.00,421413192494
25,UPI Intent,423.0,2024-08-01,Money sent to Sumathy S,Debit,500.00,421430626576
26,Upi Transaction,423.0,2024-07-23,Paid to Moi Technology Private Limited,Debit,194.17,420554841596
27,Upi Transaction,423.0,2024-07-15,Paid to Moi Technology Private Limited,Debit,20.00,419772670093
28,Upi Transaction,423.0,2024-07-14,Money sent to Sumathy S,Debit,150.00,492821915565
29,Upi Transaction,423.0,2024-07-14,Money sent to Swetha E,Debit,30.00,492821846179
30,Upi Transaction,423.0,2024-07-14,Received from Sumathy S,Credit,100.00,492821299558
31,Upi Transaction,423.0,2024-07-14,Received from Sumathy S,Credit,50.00,456220949843
32,Upi Transaction,423.0,2024-07-07,Money sent to Sumathy S,Debit,150.00,455518968119
33,Upi Transaction,423.0,2024-07-07,Received from Sumathy S,Credit,200.00,418915904394
34,UPI Collect request for 356744781,423.0,2024-06-17,Paid to Government College of Technology,Debit,600.00,416909182622
35,UPI Collect request for 356744781,423.0,2024-05-18,Received from Sumathy S,Credit,500.00,450510194547
36,UPI Collect request for 356744781,423.0,2024-05-02,Money sent to Sumathy S,Debit,1.00,448919364736
37,UPI Collect request for 356744781,423.0,2024-05-02,Money sent to Jancy,Debit,500.00,412315394365
38,UPI Collect request for 356744781,423.0,2024-05-02,Received from Jancy .,Credit,500.00,412303708600
39,PayviaRazorpay,423.0,2024-04-07,Paid to Guvi Geek Network Private Limited,Debit,1999.00,446437684733
40,express,423.0,2024-04-07,Refund from Mebigo Labs Private Limited,Credit,1.00,446408364641
41,Subscription for MEBIGOLABSPR,423.0,2024-04-06,Automatic payment of ₹99 setup for Mebigo Labs,Debit,1.00,409748033729

In [18]:
# Clean column names
df.columns = df.columns.str.strip()

# Parse dates
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Clean Amount column
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Drop rows where Date is NaT or Amount is NaN
df = df.dropna(subset=['Date', 'Amount'])

# Fill missing values for 'Note' or 'Type_Desc' if needed
df['Type_Desc'] = df['Type_Desc'].fillna("Unknown")

## Basic Financial Summary

In [19]:
total_paid = df[df['Direction'] == 'Debit']['Amount'].sum()
total_received = df[df['Direction'] == 'Credit']['Amount'].sum()

print(f"Total Paid: ₹{total_paid}")
print(f"Total Received: ₹{total_received}")

Total Paid: ₹6393.71
Total Received: ₹3972.65

In [20]:
df

,Note,Bank_Code,Date,Type_Desc,Direction,Amount,UPI Ref No
0,NaN,423.0,2024-04-01,Paid to Reliance Retail Ltd,Debit,19.00,509103880652
1,You are paying for an Amazon order,423.0,2024-02-16,Paid to Amazon Pay Balance,Debit,10.00,504780474674
2,You are paying for an Amazon order,423.0,2024-02-07,Paytm Merchant,Debit,21.00,503866948132
3,You are paying for an Amazon order,423.0,2024-02-06,Paid to Paytm Gold,Debit,25.00,503751969793
4,You are paying for an Amazon order,423.0,2024-02-05,Received from One Ninety Seven,Credit,2.00,503640376381
5,You are paying for an Amazon order,423.0,2024-02-05,Money sent to Pragadeesh Srinivasan,Debit,30.00,503646462616
6,You are paying for an Amazon order,423.0,2024-02-05,Money sent to Pragadeesh Srinivasan,Debit,3.00,503644804963
7,You are paying for an Amazon order,423.0,2024-02-05,Received from One Ninety Seven,Credit,3.00,503639565951
8,UPI Intent,423.0,2024-02-05,Paid to Tictok Skill Games Pvt Ltd,Debit,10.00,503641636453
9,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,5.00,503532950113
10,UPI Intent,423.0,2024-02-04,Received from One Ninety Seven,Credit,2.00,503534038679
11,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,270.00,503532911539
12,UPI Intent,423.0,2024-02-04,Money sent to Pragadeesh Srinivasan,Debit,250.00,503529255955
13,UPI Intent,423.0,2024-11-14,Money sent to Sumathy S,Debit,800.00,468516390086
14,UPI Intent,423.0,2024-11-14,Received from Cynthia Monica V,Credit,800.00,431942940472
15,UPI Intent,423.0,2024-11-14,Received from Cynthia Monica V,Credit,1.00,431989113999
16,UPI Intent,423.0,2024-11-10,Money sent to Cynthia Monica V,Debit,800.00,431529259949
17,UPI Intent,423.0,2024-11-10,Received from Sumathy S,Credit,800.00,468116259040
18,UPI Intent,423.0,2024-09-26,Received from Mr SRINIVASAN P,Credit,500.00,427070498462
19,UPI Intent,423.0,2024-08-27,Received from Cashfree Payments,Credit,10.65,424052062475
20,UPI Intent,423.0,2024-08-15,Received from Mr SRINIVASAN P,Credit,1.00,422830754444
21,UPI Intent,423.0,2024-08-12,Money sent to Sumathy S,Debit,5.54,422579020590
22,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,1.00,458014102616
23,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,1.00,458080240944
24,UPI Intent,423.0,2024-08-01,Received from Sumathy S,Credit,500.00,421413192494
25,UPI Intent,423.0,2024-08-01,Money sent to Sumathy S,Debit,500.00,421430626576
26,Upi Transaction,423.0,2024-07-23,Paid to Moi Technology Private Limited,Debit,194.17,420554841596
27,Upi Transaction,423.0,2024-07-15,Paid to Moi Technology Private Limited,Debit,20.00,419772670093
28,Upi Transaction,423.0,2024-07-14,Money sent to Sumathy S,Debit,150.00,492821915565
29,Upi Transaction,423.0,2024-07-14,Money sent to Swetha E,Debit,30.00,492821846179
30,Upi Transaction,423.0,2024-07-14,Received from Sumathy S,Credit,100.00,492821299558
31,Upi Transaction,423.0,2024-07-14,Received from Sumathy S,Credit,50.00,456220949843
32,Upi Transaction,423.0,2024-07-07,Money sent to Sumathy S,Debit,150.00,455518968119
33,Upi Transaction,423.0,2024-07-07,Received from Sumathy S,Credit,200.00,418915904394
34,UPI Collect request for 356744781,423.0,2024-06-17,Paid to Government College of Technology,Debit,600.00,416909182622
35,UPI Collect request for 356744781,423.0,2024-05-18,Received from Sumathy S,Credit,500.00,450510194547
36,UPI Collect request for 356744781,423.0,2024-05-02,Money sent to Sumathy S,Debit,1.00,448919364736
37,UPI Collect request for 356744781,423.0,2024-05-02,Money sent to Jancy,Debit,500.00,412315394365
38,UPI Collect request for 356744781,423.0,2024-05-02,Received from Jancy .,Credit,500.00,412303708600
39,PayviaRazorpay,423.0,2024-04-07,Paid to Guvi Geek Network Private Limited,Debit,1999.00,446437684733
40,express,423.0,2024-04-07,Refund from Mebigo Labs Private Limited,Credit,1.00,446408364641
41,Subscription for MEBIGOLABSPR,423.0,2024-04-06,Automatic payment of ₹99 setup for Mebigo Labs,Debit,1.00,409748033729